.ocn-movie-cover-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;

  li {
    width: 100px;
    margin: 6px;
    padding: 0;
  }
}
